{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="mb-5">RESULTADOS BUSQUEDA DE CURSO</h1>    
{% endblock %}


{% block contenido_que_cambia %}

{% if cursos %}

<h2>Listado de cursos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Comision</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
        <tr>
            <td>
                {{curso.id}}
            </td>
            <td>
                {{curso.nombre}}
            </td>
            <td>
                {{curso.comision}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<h2>NO HAY CURSOS QUE RESPONDAN A ESA BUSQUEDA</h2>

{% endif %}

{% endblock %}