{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="mb-5">RESULTADOS BUSQUEDA DE ENTREGABLES</h1>    
{% endblock %}


{% block contenido_que_cambia %}

{% if entregables %}

<h2>Listado de entregables</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Entregable</th>
        </tr>
    </thead>
    <tbody>
        {% for entregable in entregables %}
        <tr>
            <td>
                {{entregable.id}}
            </td>
            <td>
                {{entregable.nombre}}
            </td>
            <td>
                {{entregable.apellido}}
            </td>
            <td>
                {{entregable.entregable}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<h2>NO HAY ENTREGABLES QUE RESPONDAN A ESA BUSQUEDA</h2>

{% endif %}

{% endblock %}